<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }} 
            {% if user.membership and user.membership.is_active %}
                ⭐ <!-- Show star if membership is active -->
                <span>(Premium Member)</span>  <!-- Show premium status -->
            {% else %}
                <span>(Not a Premium Member)</span>  <!-- Indicate non-premium status -->
            {% endif %}
            </p>
            <a href="{% url 'logout' %}">Logout</a>

            <!-- Show appropriate button based on membership status -->
            {% if user.membership and user.membership.is_active %}
                <!-- If the user is a premium member, show the cancel option -->
                <a href="{% url 'premium-membership' %}"><button>Manage Premium Membership</button></a>
            {% else %}
                <!-- If the user is not a premium member, show the activate button -->
                <a href="{% url 'premium-membership' %}"><button>Activate Premium</button></a>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>

    <!-- Display messages if any -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <h1>Task to do list</h1>
    <a href="{% url 'task-create' %}">
        <button>Add New Task</button>
    </a>

    <form method="get">
        <input type="text" name="search" value="{{request.GET.search}}">
        <button type="submit">Search</button>
    </form>

    {% if request.GET.search %}
       {% if  object_list|length > 0 %}
         <p>{{object_list|length}} results for search</p>
       {% else %}
          <p>No results for search</p>
       {% endif %}
    {% endif %}

    {% for task in object_list %}
        <h4>{{task.title}}</h4>
        <p>{{task.content}}</p>
        <p>Status: {{ task.get_status_display }}</p>
        {% if user.membership and user.membership.is_active %}
            {% if task.due_date %}
                <p>Due Date: {{ task.due_date }}</p>
            {% else %}
                <p>No Due Date</p>
            {% endif %}
        {% endif %} 
    <a href="{% url 'task-edit' task.pk %}">Edit</a>  <!-- Edit link -->
    <a href="{% url 'task-delete' task.pk %}">Delete</a>  <!-- Delete link -->
    <a href="{% url 'task-toggle-status' task.pk %}">
        <button>Toggle Status</button>
    </a>
    {% endfor %}
</body>

</html>